body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  padding: 0 15px;

  @media screen and (min-width: 360px) {
    width: 360px;
    // margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 25px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 0 137px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  font-size: 14px;
  font-weight: 700;
  background: $accent-secondary-color;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 11px 12px #ffce4a;
  }

  @media screen and (min-width: 768px) {
    width: 359px;
    margin: 0 auto;
  }
}

.swiper {
  margin-top: 50px;
  width: 185px;
  height: 212px;
  @media screen and (min-width: 768px) {
    width: 440px;
    height: 547px;
    margin-right: 25px;
  }
  @media screen and (min-width: 1440px) {
    width: 640px;
    height: 747px;
    margin-right: 50px;
  }
}

.swipe-card {
  width: 185px;
  height: 212px;
  @media screen and (min-width: 768px) {
    width: 440px;
    height: 547px;
  }
  @media screen and (min-width: 1440px) {
    width: 640px;
    height: 747px;
  }
}

.comentarios__decor {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 261px;
    height: 537px;
    top: 1580px;
    right: -10px;
    rotate: 180deg;
    background-image: url('../images/decor.png');
  }
  @media screen and (min-width: 1440px) {
    top: 1913px;
    right: 0;
  }
}

.benefit__decor {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 611px;
    height: 1550px;
    top: 1580px;
    left: 0;

    background-image: url('../images/decor-bg.png');
  }
  @media screen and (min-width: 1440px) {
    top: 1950px;
  }
}

.funciona__decor {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 512px;
    height: 1357px;
    top: 2635px;
    right: 0;
    rotate: 180deg;

    background-image: url('../images/decor-bg.png');
  }
  @media screen and (min-width: 1440px) {
    width: 613px;
    height: 1650px;
    top: 3172px;
  }
}
