.header {
  padding-top: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 55px;
    align-items: flex-start;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }

  .text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    color: $accent-main-color;
    margin-left: 9.5px;
  }
}

.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    color: #2a313d;
  }
  li:not(:last-child) {
    margin-right: 25px;
    @media screen and (min-width: 1440px) {
      margin-right: 37px;
    }
  }
}
